<form #form="ngForm" novalidate>
  <md-select placeholder="Gender" [(ngModel)]="profileForm.gender" name="gender">
    <md-option *ngFor="let option of genderOptions" [value]="option.code">{{ option.name }}</md-option>
  </md-select>
  <md-input-container>
    <input name="birthdate" placeholder="Birthday" [(ngModel)]="profileForm.birthdate" mdInput [mdDatepicker]="picker">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-input-container>
    <input name="bio" placeholder="Bio" maxlength="20" required [(ngModel)]="profileForm.bio" mdInput>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
</form>
